@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<header>
    <div class="text-center" style=" margin: 25px; background:url('/img/content_hub-happy_drivers-heart_icon.svg') no-repeat center;  background-size: 400px auto">
        <h1 style="font-size: 6rem;">Hospitalizacion <br> En <br> Casa</h1>
        <h5 style="font-size: 2rem; opacity: 1; color: grey; font-style: italic; margin: 25px;">"Lo mejor de la salud en tu dispositivo"</h5>
    </div>
</header>
