@page
@model MyApp.Namespace.Familiar_AsignadoModel
@{
     ViewData["Title"] = "Familiar Designado";
}
<div class="contenedor">
        <header class="head">
            <div>
                <p>Informacion Familiar Designado</p>
                <li>
                    <input type="number" id="ID_Familiar_Designado" autofocus placeholder="ID">
                </li>
                <li>
                    <input type="text" id="NombreFamiliarDesignado" autofocus placeholder="Nombre">
                </li>
                <li>
                    <input type="text" id="ApellidoFamiliarDesignado" autofocus placeholder="Apellidos">
                </li>
                <li>
                    <label for="start">Genero:
                    </label>
                    <select class="form-select"  id="selectGenere" name="generoPaciente">
                        <option value="1">Femenino</option>
                        <option value="2">Masculino</option>
                        <option value="3">No especifico</option>
                    </select>
                </li>
                <li>
                    <input type="text" id="PacienteAsignado" autofocus placeholder="Paciente Asignado">
                </li>
                <li>
                    <input type="text" id="PacienteAsignado" autofocus placeholder="Parentesco">
                </li>
                <li>
                    <input type="text" id="CorreoPacienteAsignado" autofocus placeholder="Correo">
                </li>
                </ul>
                <button type="button" class="btn btn-outline-dark">Buscar Paciente</button>
                <button type="button" class="btn btn-outline-dark">Registrar Paciente</button>
            </div> 
        </header>
    </div>