@page
@model MyApp.Namespace.Medico_FormularioModel
@{
    ViewData["Title"] = "Medico";
}
<form method="post">
    <div class="contenedor">
        <header class="head">
            <div>
                <p>Registro Nuevo Medico</p>
                
                <li> <input asp-for="Medico.Nombre" type="text" id="NombreMedico" autofocus placeholder="Nombre"> </li>
                <li> <input asp-for="Medico.Apellidos" type="text" id="ApellidoMedico" autofocus placeholder="Apellidos">  </li>                
                <li> <input asp-for="Medico.Telefono" type="number" id="TelefonoMedico" autofocus placeholder="Telefono"> </li>            
                <li> <input asp-for="Medico.Especialidad" type="text" id="EspecialidadMedico" autofocus placeholder="Especialidad"> </li>
                <li> <input asp-for="Medico.Registro_Rethus" type="text" id="RethusMedico" autofocus placeholder="Registro Rethus"> </li>
                <button type="submit" class="btn btn-outline-dark">Registrar Nuevo Medico</button>
            </div>
        </header>
    </div>
</form>    