@page
@model MyApp.Namespace.Medico_FormularioModel
@{
    ViewData["Title"] = "Medico";
}
<div class="contenedor">

    
        <header class="head">
            <div>
                <p>Registro Nuevo Medico</p>
                
                <li> <input type="text" id="NombreMedico" autofocus placeholder="Nombre"> </li>
                <li> <input type="text" id="ApellidoMedico" autofocus placeholder="Apellidos">  </li>                
                <li> <input type="number" id="TelefonoMedico" autofocus placeholder="Telefono"> </li>
                               
                <li> <input type="text" id="EspecialidadMedico" autofocus placeholder="Especialidad"> </li>
                <li> <input type="text" id="RethusMedico" autofocus placeholder="Registro Rethus"> </li>
                
             
                <button type="button" class="btn btn-outline-dark">Registrar Nuevo Medico</button>
            </div>
            
        </header>
    </div>